
html{
    font-size: font-size:62.5%;
}
body{
    font-size:12px;
    font-size:1.2rem; 
}
html,body{
    margin: 0;padding: 0;
}
a,li,ul,h1,h2,h3,h4,h5,h6{
    list-style: none;text-decoration: none;
}
.nav_a:hover{
    text-decoration: none;color:#fff;
}.nav_nav_active:hover{
     text-decoration: none;color:#fff;
 }
.logo a:hover{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: none;
}
.nav_nav_a:hover{
    text-decoration: none;color:#fff;background: #50d8b6;border-radius:5px;
}
.banner{
    width:100%;
    height: 928px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.imgbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.img_box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
}
.img_box1{
    background:url("../images/index/banner_1.png") center center no-repeat;
    background-size: cover;
}
.img_box2{
    background:url("../images/index/banner_2.png") center center no-repeat;
    background-size: cover;
}
.img_box3{
    background:url("../images/index/banner_3.png") center center no-repeat;
    background-size: cover;
}
.btn{
    width: 135px;
    height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
}
.btn div{
    width: 20px;
    height: 20px;
    background: black;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.banner .btn .active{
    width:20px;
    background: red;
    opacity: 0.8;
}
.rightbn,.leftbn{
    width: 30px;
    height:107px;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    display: none;
}
.rightbn{
    right:0;
}
.nhh_nav{
    width:100%;height:95px;position: fixed;left: 0;top:0;z-index: 9999;display: none;padding-bottom: 20px;
}
.nhh_content{
    width:73%;height: 100%;margin:0 auto;
}
.nav_img{
    width: 55px;height: 55px;margin-top: 20px;float: left;position:relative;;
}
.nav_img img{
    position: absolute;
    left:0;
    top:0;
}
.nav_a{
   color:#fff;font-size:18px;font-family:"微软雅黑";line-height:55px;text-align: center;position: absolute;left: 72px;top:0px;height: 55px;width:55px;
}
.nav_nav{
    width:50%;height:45px;margin-top:30px;float:right;display: flex;justify-content: space-between;
}
.nav_nav_a{
    display: block;width: 80px;height: 42px;line-height: 42px;color:#fff;line-height: 42px;font-size: 18px;text-align: center;
}
.nav_nav_active{
    background: #50d8b6;border-radius:5px;
}
.small_nav{
    width: 100%;height:75px;line-height: 75px;text-align: center;position: fixed;left: 0;top:0;z-index: 9999;
}
.small_nav .menu{
    width:25px;
    height:12px;
    position:absolute;right:20px;top:32px;
}
.menu .menu-option-uline,.menu .menu-option-bline{
    width:25px;height:3px;border-radius: 1px;background:#fff;transition: transform .5s ease;position: absolute;right:0;
}
.menu .menu-option-uline{
    top:0;
}
.menu .menu-option-bline{
    bottom:0;
}
.small_nav .menu a{
    text-align: left;
    color:#fff;
}
.small_nav .logo a{
    text-align: right;
    color:#fff;
    display: block;
    width: 55px;height: 55px;
}
.small_nav .logo{
    width: 10%;
    height: 44px;
    float: left;
    margin-left:10px;
}
.menu_bottom{
    width:100%;position:fixed;top:75px;left:0;display:none;padding: 0;margin: 0;
}
.menu_bottom li a{
    display: block;width:100%;height:50px;text-align: center;line-height: 50px;background:rgba(0,0,0,.5);margin:0;opacity: 0;padding-left:3%;font-size:16px;color:#fff;
}

.menu_bottom{
    display: none;
}
@media screen and (min-width:750px) {
    .nhh_nav{
        display: block;
    }
    .small_nav{
        display: none;
    }
}
/*èœå•*/
@keyframes menu {
    0%{
        opacity:0;transform: rotateX(90deg);
    }
    100%{
        opacity: 1;transform: rotateX(0deg);
    }
}
@keyframes menu1 {
    0%{
        opacity:1;transform: rotateX(0deg);
    }
    100%{
        opacity: 0;transform: rotateX(-90deg);
    }
}
/*äº‘*/
@keyframes cloud {
    0% {
        background-position: 2000px 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: -2000px 0;
    }
}

/*é£žæœº*/
@keyframes flight {
    100% {
        transform: translateY(-10px);
    }
}
/*banner end*/
/*next start*/
.home-box{
    width: 100%;
    /*height: 599px;*/
}
.home-box .main-box{
    position: relative;
    height: 100%;
}
.first-home{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 45% auto 10%;
    background: url(../images/index/homepage_circle.png) #f2f2f2 no-repeat center center;
}
.second-home{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 45% auto 10%;
    background: url(../images/index/homepage_member.png) #f2f2f2 no-repeat center center;
}
.third-home{
    width: 128px;
    height: 128px;
    border-radius: 50%;
   margin: 45% auto 10%;
    background: url(../images/index/homepage_party.png) #f2f2f2 no-repeat center center;
}
.first-home:hover{
    background: url(../images/index/homepage_circle_hover.png) #50d8d6 no-repeat center center;
}
.second-home:hover{
    background: url(../images/index/homepage_member_hover.png) #50d8d6 no-repeat center center;
}
.third-home:hover{
    background: url(../images/index/homepage_party_hover.png) #50d8d6 no-repeat center center;
}
.main-box p{
    text-align: center;
    font-size: 20px;
}
/*introbute start*/
.introbute-bg{
    height: 600px;
    width: 100%;
    background-image:url(../images/index/homepage_introduce_bg@2x.png);
    background-position: 50% 0px;
    position: relative;
}
.introbute{
    width: 100%;
    height: 100%;
    background: url(../images/index/homepage_introduce.png) no-repeat center center;
    background-size: cover;
}
/*version 1.0*/
.phone-height{
    /*height: 855px;*/
    width: auto;
}
.phone-height div{
    height: 100%;
    position: relative;
}
.version{
    text-align: center;
    font-size: 0.3rem;
    /*line-height: 855px;*/
}
.phone-img{
    margin:6% 0;
}
.phone-p{
    margin: 45% 0;
}
/*version 2.0*/
.home-second{
    height: 900px;
    width: 100%;
    background: url(../images/index/homepage_2.0.png)no-repeat center center;
    background-size: cover;
}
/*talk*/
.talk{
    /*width: 80%;*/
    /*height: 796px;*/
    margin-bottom: 10%;
}
.talk .row span{
    font-size: 0.36rem;
    border-bottom: 1px solid #515151;
    color: #515151;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 6%;
    padding-bottom: 1%;
}
/*动画*/
@keyframes myfirst
{
    from {height: 0%;}
    to {height: 100%;}
}
@keyframes voice {
    0%{
        bottom:-100%;
    }
    100%{
        bottom:0;
    }
}
@keyframes voiceout {
    0%{
        bottom:0;
    }
    100%{
        bottom:-100%;
    }
}
.voice{
    width: auto;
    height: 343px;
    position:relative;
    background: url(../images/index/homepage_voice.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.voice a{
    display: block;
    width: 100%;
    height: 100%;
}
.voice_hover{
     width: 100%;height: 100%;position: absolute;left:0;bottom:100%;z-index: 9999;background: url(../images/index/homepage_voice_hover.png) no-repeat center center;
 }
.group_hover{
    width: 100%;height: 100%;position: absolute;left:0;bottom:100%;z-index: 9999;background: url(../images/index/homepage_chat_hover.png) no-repeat center center;
}
.video_hover{
    width: 100%;height: 100%;position: absolute;left:0;bottom:100%;z-index: 9999;background: url(../images/index/homepage_video_hover.png) no-repeat center center;
}
.gorup{
    width: auto;
    height: 343px;
    position: relative;
    background: url(../images/index/homepage_chat.png) no-repeat center center;overflow: hidden;
}
.gorup a{
    display: block;
    width: 100%;
    height: 100%;
}

.video{
    width: auto;
    height: 343px;
    position: relative;
    background: url(../images/index/homepage_video.png) no-repeat center center;overflow: hidden;
}
.video a{
    display: block;
    width: 100%;
    height: 100%;
}
/*contact*/
.map{
    width: auto;
    height: 686px;
    background: url(../images/index/homepage_map.png) no-repeat center center;
    background-size: cover;
}
.contact-title{
    margin-top: 11%;
}
.adr img{
    vertical-align: middle;
    margin-right:10px;
}
.postcodes img{
    vertical-align: middle;
    margin-right:10px;
}
.tel img{
    vertical-align: middle;
    margin-right:10px;
}
.website img{
    vertical-align: middle;
    margin-right:10px;
}
/*Record*/
.record{
    width: 100%;
    height: 100px;
    background: #000;
}


/*about*/
.about .row span{
    /*width: 40%;*/
    /*height: auto;*/
    font-size: 0.36rem;
    border-bottom: 1px solid #515151;
    color: #515151;
/*    margin:0 auto;
    display: block;*/
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
    padding-bottom: 1%;
}
.about-inner p{
    font-size: 0.3rem;
    color: #515151;
    text-indent:2em;
}
.team{
    margin-bottom: 5%;
    /*width: 80%;*/
}
.team .row span{
    font-size: 0.36rem;
    border-bottom: 1px solid #515151;
    color: #515151;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
    padding-bottom: 1%;
}
.team-one{
    width: auto;
    height: 300px;
    background: url(../images/about/about_us_team_1.png) no-repeat center center;
    background-size: cover;
}
.team-two{
    width: auto;
    height: 300px;
    background: url(../images/about/about_us_team_2.png) no-repeat center center;
    background-size: cover;

}
.team-three{
    width: auto;
    height: 300px;
    background: url(../images/about/about_us_team_3.png) no-repeat center center;
    background-size: cover;
}
.and-box{
    float: left;
    margin-right: 10%;
}
.ios-box{
    float: left;
}
.and-code,.ios-code{
    display: none;
}
.code{
    margin-top: 33%;
}
.dwon_img{
    margin-left: 25%;
}
.code{
    overflow: hidden;
}


/*view*/
.view .row span{
    font-size: 0.36rem;
    color: #515151;
    display: block;
    text-align: left;
    margin-top: 5%;
    padding-bottom: 1%;
}
.view-form{
    width: 100%;
    height: 530px;
    border:1px solid #cccaca;
    margin-bottom: 8%;
}
.view-text{
    width: 100%;
    height: 70%;
    border: 0;
    font-size: 0.24rem;
    color: #cccaca;
}
.view-btn{
    float: right;
    margin:4% 8% 0 0;
    padding: 1% 4%;
    border: 0;
    background: #50d8b6;
    color: #fff;
    font-size: 0.36rem;
}
@media screen and (max-width: 414px){
    .banner{
        height: 225px;
    }
    .dwon_img{
        margin-left: 11%;
    }
    .code {
        margin-top: 20%;
    }
    .and-box {
        float: left;
        margin-right: 3%;
        width: 47%;
    }
    .ios-box {
        width: 47%;
        float: left;
    }
    .and-box img{
        width: 100%;
    }
    .ios-box img{
        width: 100%;
    }
    .map {
        height: 270px;
    }
    .about-inner p {
        font-size: 0.3rem;
        padding: 0 8%;
    }
    .view-text {
        height: 63%;
    }
    .view-form {
        width: 90%;
        height: 260px;
        margin: 0 5% 8%;
    }
    .view .row span {
        padding-left: 5%;
    }
    .contact-title {
        margin-top: 4%;
    }
    .map img{
        width: 6%;
        margin-bottom: 3%;
    }
    .team-one, .team-two,.team-three{
        height: 220px;
    }
    .first-home,.second-home,.third-home {
        margin: 10% auto 10%;
    }
    .introbute-bg {
        height: 136px;
    }
    .home-second {
        height: 220px;
    }
    .voice,.gorup,.video {
        height: 242px;
    }
    .phone-img {
        width: 92%;
    }
    .phone-img{
        margin: 0% 4% 5%;
        width: 92%;
    }
    .phone-p{
        margin: 10% 0;
    }
}